<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791033995290-sqlsfhqdh5onq65fo0ms1si84m9utsvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791033995290-sqlsfhqdh5onq65fo0ms1si84m9utsvc</string>
	<key>API_KEY</key>
	<string>AIzaSyBYU1VUad4QDRTzTNZNYYO1vBG-TvuwIVA</string>
	<key>GCM_SENDER_ID</key>
	<string>791033995290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapps</string>
	<key>PROJECT_ID</key>
	<string>chatapp-indra</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-indra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791033995290:ios:8f9ed7832f260da647f1a3</string>
</dict>
</plist>